.Catalog{
    margin: 0 auto;
    max-width: 1920px;
    padding: 40px 5vw 0 5vw;
    display: flex;
    flex-direction: row;
    .left_side{
        width: 24vw;
        z-index: 2;
    }
    .right_side{
        z-index: 1;
        display: flex;
        width: 76vw;
        flex-direction: column;
        .sorting{
        width: 100%;
        text-align: end;
        align-items: end;
        }
        .Cards{
        width: 100% ;
        display: flex;
        flex-wrap: wrap;
        .noProducts{
            padding-top: 28vh;
            margin: 0 auto;
            font-size: 24px;
        }
    
    }
    }
}