.footer{
  padding: 35px 0;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.03);

  &__content{
    display: flex;
    justify-content: space-between;
  }

  &__left{

    &_box{
      display: flex;
      column-gap: 50px;
      margin: 10px 0 34px;
    }

    &_list{
      display: flex;
      flex-direction: column;
      row-gap: 7px;
    }

    &_item{
      cursor: pointer;
      font-weight: 400;
      font-size: 14px;
      line-height: 126.69%;
      &:hover{
        color: #D74444;
        transform: scale(1.05);
      }
    }

    &_items{
      display: flex;
      column-gap: 30px;

      &_link{
        font-weight: 400;
        font-size: 14px;
        line-height: 126.69%;
        cursor: pointer;

        &:hover{
          color: #D74444;
          font-weight: 500;
        }
      }
    }
  }

  &__right{}

  &__subtitle{
    font-size: 14px;
    line-height: 126.69%;
    color: #000000;
  }

  &__logo{
    font-weight: 900;
    font-size: 42px;
    line-height: 49px;
    color: #000000;
    text-align: right;
  }

  &__address{
    font-weight: 400;
    font-size: 14px;
    line-height: 126.69%;
    text-align: right;
    margin: 20px 0;
  }

  &__social{
    display: flex;
    align-items: center;
    column-gap: 30px;

    &_text{
      display: flex;
      align-items: center;
      column-gap: 10px;
      font-weight: 400;
      font-size: 12px;
      line-height: 126.69%;
      text-align: right;
    }
  }

}